<footer>
  <div class="container p-5">
    <div class="row text-white text-center pb-4">
      <div class="col-md-4">
        <h4 class="text-uppercase p-2">Location</h4>
        <p class="lead m-auto pt-2 pb-4">
          2215 John Daniel Drive Clark, MO 65243
        </p>
      </div>
      <div class="col-md-4">
        <h4 class="text-uppercase p-2">Around the Web</h4>
        <div class="d-flex justify-content-center pt-3 mb-4">
          <div
            class="icon-container d-flex justify-content-center align-items-center"
          >
            <a href="https://www.facebook.com/" target="_blank">
              <i class="fa-brands fa-facebook-f fs-5"></i>
            </a>
          </div>
          <div
            class="icon-container d-flex justify-content-center align-items-center"
          >
            <a href="https://twitter.com/" target="_blank">
              <i class="fa-brands fa-twitter fs-5"></i>
            </a>
          </div>
          <div
            class="icon-container d-flex justify-content-center align-items-center"
          >
            <a href="https://www.linkedin.com/" target="_blank">
              <i class="fa-brands fa-linkedin-in fs-5"></i>
            </a>
          </div>
          <div
            class="icon-container d-flex justify-content-center align-items-center"
          >
            <a href="https://dribbble.com/" target="_blank">
              <i class="fa-brands fa-dribbble fs-5"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h4 class="text-uppercase p-2">About Freelancer</h4>
        <p class="lead m-auto pt-2 pb-4">
          Freelance is a free to use, MIT licensed Bootstrap theme created by
          Route
        </p>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p class="text-white m-0 p-4 text-center">Copyright © Your Website 2021</p>
  </div>
</footer>
