$mainColor: #1abc9c;
$secColor: #2c3e50;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.header-font {
  font-family: "Montserrat", sans-serif !important;
}

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.sec-font {
  font-family: "Lato", sans-serif !important;
}
