<section class="py-5">
  <div class="container-fluid p-5">
    <div class="text-center pt-4">
      <h2 class="text-uppercase fw-bold display-5 p-4">Portfolio</h2>
      <div class="horizontal-line position-relative">
        <div class="star position-absolute translate-middle start-50">
          <i class="fa-solid fa-star star fs-2"></i>
        </div>
      </div>
      <div class="row justify-content-center pt-3">
        <div
          class="col-md-4 col-sm-12 pt-4"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <div class="position-relative portfolio-container">
            <img
              src="./assets/images/cabin.png"
              class="img-fluid rounded"
              alt="cabin"
            />
            <div
              class="overlay rounded d-flex justify-content-center align-items-center"
            >
              <i class="fa-solid fa-plus fa-6x text-white"></i>
            </div>
          </div>
        </div>
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="text-center pt-4">
                <h2
                  class="text-uppercase fw-bold display-5 p-4 modal-title"
                  id="exampleModalLabel"
                >
                  Log cabin
                </h2>
                <div class="horizontal-line position-relative">
                  <div class="star position-absolute translate-middle start-50">
                    <i class="fa-solid fa-star star fs-2"></i>
                  </div>
                </div>
                <button
                  type="button"
                  class="btn-close btn-lg fw-bold"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div
                class="modal-body d-flex align-items-center justify-content-center"
              >
                <div class="modal-body-container rounded col-md-7">
                  <img
                    src="./assets/images/cabin.png"
                    class="img-fluid rounded my-4"
                    alt="cabin"
                  />
                  <p class="pt-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Mollitia neque assumenda ipsam nihil, molestias magnam,
                    recusandae quos quis inventore quisquam velit asperiores,
                    vitae? Reprehenderit soluta, eos quod consequuntur itaque.
                    Nam.
                  </p>
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <button
                  type="button"
                  class="btn close-window-btn m-3 mb-5"
                  data-bs-dismiss="modal"
                >
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-md-4 pt-4"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal2"
        >
          <div class="position-relative portfolio-container">
            <img
              src="./assets/images/cake.png"
              class="img-fluid rounded"
              alt="cake"
            />
            <div
              class="overlay rounded d-flex justify-content-center align-items-center"
            >
              <i class="fa-solid fa-plus fa-6x text-white"></i>
            </div>
          </div>
        </div>
        <div
          class="modal fade"
          id="exampleModal2"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="text-center pt-4">
                <h2
                  class="text-uppercase fw-bold display-5 p-4 modal-title"
                  id="exampleModalLabel"
                >
                  Tasty Cake
                </h2>
                <div class="horizontal-line position-relative">
                  <div class="star position-absolute translate-middle start-50">
                    <i class="fa-solid fa-star star fs-2"></i>
                  </div>
                </div>
                <button
                  type="button"
                  class="btn-close btn-lg fw-bold"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div
                class="modal-body d-flex align-items-center justify-content-center"
              >
                <div class="modal-body-container rounded col-md-7">
                  <img
                    src="./assets/images/cake.png"
                    class="img-fluid rounded my-4"
                    alt="cake"
                  />
                  <p class="pt-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Mollitia neque assumenda ipsam nihil, molestias magnam,
                    recusandae quos quis inventore quisquam velit asperiores,
                    vitae? Reprehenderit soluta, eos quod consequuntur itaque.
                    Nam.
                  </p>
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <button
                  type="button"
                  class="btn close-window-btn m-3 mb-5"
                  data-bs-dismiss="modal"
                >
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-md-4 pt-4"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal3"
        >
          <div class="position-relative portfolio-container">
            <img
              src="./assets/images/circus.png"
              class="img-fluid rounded"
              alt="circus"
            />
            <div
              class="overlay rounded d-flex justify-content-center align-items-center"
            >
              <i class="fa-solid fa-plus fa-6x text-white"></i>
            </div>
          </div>
        </div>
        <div
          class="modal fade"
          id="exampleModal3"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="text-center pt-4">
                <h2
                  class="text-uppercase fw-bold display-5 p-4 modal-title"
                  id="exampleModalLabel"
                >
                  Circus Tent
                </h2>
                <div class="horizontal-line position-relative">
                  <div class="star position-absolute translate-middle start-50">
                    <i class="fa-solid fa-star star fs-2"></i>
                  </div>
                </div>
                <button
                  type="button"
                  class="btn-close btn-lg fw-bold"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div
                class="modal-body d-flex align-items-center justify-content-center"
              >
                <div class="modal-body-container rounded col-md-7">
                  <img
                    src="./assets/images/circus.png"
                    class="img-fluid rounded my-4"
                    alt="circus"
                  />
                  <p class="pt-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Mollitia neque assumenda ipsam nihil, molestias magnam,
                    recusandae quos quis inventore quisquam velit asperiores,
                    vitae? Reprehenderit soluta, eos quod consequuntur itaque.
                    Nam.
                  </p>
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <button
                  type="button"
                  class="btn close-window-btn m-3 mb-5"
                  data-bs-dismiss="modal"
                >
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-md-4 pt-4"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal4"
        >
          <div class="position-relative portfolio-container">
            <img
              src="./assets/images/game.png"
              class="img-fluid rounded"
              alt="game"
            />
            <div
              class="overlay rounded d-flex justify-content-center align-items-center"
            >
              <i class="fa-solid fa-plus fa-6x text-white"></i>
            </div>
          </div>
        </div>
        <div
          class="modal fade"
          id="exampleModal4"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="text-center pt-4">
                <h2
                  class="text-uppercase fw-bold display-5 p-4 modal-title"
                  id="exampleModalLabel"
                >
                  Controller
                </h2>
                <div class="horizontal-line position-relative">
                  <div class="star position-absolute translate-middle start-50">
                    <i class="fa-solid fa-star star fs-2"></i>
                  </div>
                </div>
                <button
                  type="button"
                  class="btn-close btn-lg fw-bold"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div
                class="modal-body d-flex align-items-center justify-content-center"
              >
                <div class="modal-body-container rounded col-md-7">
                  <img
                    src="./assets/images/game.png"
                    class="img-fluid rounded my-4"
                    alt="game"
                  />
                  <p class="pt-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Mollitia neque assumenda ipsam nihil, molestias magnam,
                    recusandae quos quis inventore quisquam velit asperiores,
                    vitae? Reprehenderit soluta, eos quod consequuntur itaque.
                    Nam.
                  </p>
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <button
                  type="button"
                  class="btn close-window-btn m-3 mb-5"
                  data-bs-dismiss="modal"
                >
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-md-4 pt-4"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal5"
        >
          <div class="position-relative portfolio-container">
            <img
              src="./assets/images/safe.png"
              class="img-fluid rounded"
              alt="safe"
            />
            <div
              class="overlay rounded d-flex justify-content-center align-items-center"
            >
              <i class="fa-solid fa-plus fa-6x text-white"></i>
            </div>
          </div>
        </div>
        <div
          class="modal fade"
          id="exampleModal5"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="text-center pt-4">
                <h2
                  class="text-uppercase fw-bold display-5 p-4 modal-title"
                  id="exampleModalLabel"
                >
                  Locked Safe
                </h2>
                <div class="horizontal-line position-relative">
                  <div class="star position-absolute translate-middle start-50">
                    <i class="fa-solid fa-star star fs-2"></i>
                  </div>
                </div>
                <button
                  type="button"
                  class="btn-close btn-lg fw-bold"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div
                class="modal-body d-flex align-items-center justify-content-center"
              >
                <div class="modal-body-container rounded col-md-7">
                  <img
                    src="./assets/images/submarine.png"
                    class="img-fluid rounded my-4"
                    alt="submarine"
                  />
                  <p class="pt-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Mollitia neque assumenda ipsam nihil, molestias magnam,
                    recusandae quos quis inventore quisquam velit asperiores,
                    vitae? Reprehenderit soluta, eos quod consequuntur itaque.
                    Nam.
                  </p>
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <button
                  type="button"
                  class="btn close-window-btn m-3 mb-5"
                  data-bs-dismiss="modal"
                >
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-md-4 pt-4"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal6"
        >
          <div class="position-relative portfolio-container">
            <img
              src="./assets/images/submarine.png"
              class="img-fluid rounded"
              alt="submarine"
            />
            <div
              class="overlay rounded d-flex justify-content-center align-items-center"
            >
              <i class="fa-solid fa-plus fa-6x text-white"></i>
            </div>
          </div>
        </div>
        <div
          class="modal fade"
          id="exampleModal6"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="text-center pt-4">
                <h2
                  class="text-uppercase fw-bold display-5 p-4 modal-title"
                  id="exampleModalLabel"
                >
                  Submarine
                </h2>
                <div class="horizontal-line position-relative">
                  <div class="star position-absolute translate-middle start-50">
                    <i class="fa-solid fa-star star fs-2"></i>
                  </div>
                </div>
                <button
                  type="button"
                  class="btn-close btn-lg fw-bold"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div
                class="modal-body d-flex align-items-center justify-content-center"
              >
                <div class="modal-body-container rounded col-md-7">
                  <img
                    src="./assets/images/submarine.png"
                    class="img-fluid rounded my-4"
                    alt="submarine"
                  />
                  <p class="pt-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Mollitia neque assumenda ipsam nihil, molestias magnam,
                    recusandae quos quis inventore quisquam velit asperiores,
                    vitae? Reprehenderit soluta, eos quod consequuntur itaque.
                    Nam.
                  </p>
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <button
                  type="button"
                  class="btn close-window-btn m-3 mb-5"
                  data-bs-dismiss="modal"
                >
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
