<header>
  <div class="container p-5">
    <div class="row justify-content-center align-items-center pt-5">
      <div class="text-center pt-5 col-md-8">
        <img
          src="assets/images/avataaars.svg"
          class="pt-5 img-fluid"
          alt=""
          aria-hidden="true"
        />
        <h1 class="text-uppercase text-white p-4 display-3">Start Angular</h1>
        <div class="horizontal-line position-relative">
          <div class="star position-absolute translate-middle start-50">
            <i class="fa-solid fa-star text-white star fs-2"></i>
          </div>
        </div>

        <p class="text-white fs-4 p-5 m-0">
          Graphic Artist - Web Designer - Illustrator
        </p>
      </div>
    </div>
  </div>
</header>
